<% content_for(:title, "Tags") %>

<h1>Tags</h1>

<ul>
  <% @tags.each do |tag| %>
    <li><%= tag.name %> |
      <a href="/tags/<%= tag.id%>/edit">Edit</a> |
      <a href="/tags/<%= tag.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></li>
  <% end %>
</ul>

<p><a href="/tags/new">Click to create new tag.</a></p>
<p><a href="/contributors">Click to go to contributor page.</a></p>
