<% content_for(:title, "Tags") %>

<% if @tag.errors.any? %>
  <h3>Please fix the following errors: </h3>
  <ul>
    <% @tag.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>Enter New Tag:</h1>

<form action="/tags" method="post">
  <%= render('form')%>
  <button>Add Tag</button>
</form>


