<% content_for(:title, "Edit Contributor | Contributors") %>

<h1>Edit your contributor:</h1>

<form action="/contributors/<%= @contributor.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('form') %>
  <button>Update Contributor</button>
</form>

<p><a href="/contributors">Click to go back to contributor index.</a></p>
