<% content_for(:title, "Main Menu | Contributors") %>

<h1>Contributors</h1>

<ul>
  <% @contributors.each do |contributor| %>
    <li><a href="contributors/<%= contributor.id %>/recipes"><%= contributor.name %></a> |
      <a href="/contributors/<%= contributor.id%>/edit">Edit</a> |
      <a href="/contributors/<%= contributor.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></li>
  <% end %>
</ul>
