<% content_for(:title, "Main Menu | Contributors") %>

<h1>Contributors!!</h1>

<ul>
  <% @contributors.each do |contributor| %>
    <li><a href="contributors/<%= contributor.id %>/recipes"><%= contributor.name %></a> |
      <a href="/contributors/<%= contributor.id%>/edit">Edit</a> |
      <a href="/contributors/<%= contributor.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></li>
  <% end %>
</ul>

<p><a href="/contributors/new">Click to create a new contributor.</a></p>
<p><a href="/recipes">Click to go to the recipes page.</a></p>
<p><a href="/tags">Click to go to the tag page.</a></p>
