<% content_for(:title, "New Contributor | Contributors") %>


<h1>Enter Contributor:</h1>

<form action="/contributors" method="post">
  <%= render('form')%>
  <button>Add Contributor</button>
</form>

<p><a href="/contributors">Click to go back to contributor index.</a></p>
